body{
  box-sizing: border-box;
  margin: 0;
  background-image: url(assets/pexels-pixabay-531880.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.clockcontainer{
  backdrop-filter: blur(5px);
  width: fit-content;
  padding: 0px 15px;
  border: none;
  border-radius: 20px;
}

.clock{
  font-size: 5rem;
  font-weight: bold;
  font-family: monospace;
  color: rgba(228, 228, 228, 0.877);
  text-align: center;
  text-shadow: 0px 4px 4px black;
}